<mat-form-field>
  <mat-label>Magic Shop Table</mat-label>
  <mat-select type="text" [(ngModel)]="magicShopPreset">
    <mat-option
      *ngFor="let presetName of magicShopPresetNames; let k = index"
      [value]="k"
      (click)="onChangeMagicShopTablePreset()">
      {{ presetName }}
    </mat-option>
  </mat-select>
</mat-form-field>
<br>
<mat-checkbox
  [(ngModel)]="magicShopTablesIncludeLowerRolls"
  (change)="onChangeMagicShopTablePreset()">
  Include all rows that are lower or equal
</mat-checkbox>
<br>
<mat-form-field class="num-input-div">
  <mat-label>Roll</mat-label>
  <input matInput class ="num-input-field" type="number" [(ngModel)]="roll">
</mat-form-field>
&nbsp;
<mat-slider [max]="maxRoll" min="1" step="1" tickInterval="1" [(ngModel)]="roll"></mat-slider>
&nbsp;
<button mat-mini-fab color="primary" title="Generate Magic Shop" (click)="onGenerateShop()">
  <mat-icon>check</mat-icon>
</button>
<br>
<mat-form-field>
  <mat-label>Add Item from Table</mat-label>
  <mat-select type="text" [(ngModel)]="selectedTableKey">
    <mat-option *ngFor="let tableKey of magicItemTableKeys" [value]="tableKey">
      {{ tableKey }}
    </mat-option>
  </mat-select>
</mat-form-field>
&nbsp;
<button mat-mini-fab color="primary" title="Add Random Item" (click)="onAddItem()">
  <mat-icon>add</mat-icon>
</button>
<br>
<button mat-mini-fab color="primary" title="Sort Items" (click)="onSort()">
  <mat-icon>sort_by_alpha</mat-icon>
</button>
&nbsp;
<button mat-mini-fab color="warn" title="Clear Shop" (click)="onClear()">
  <mat-icon>clear</mat-icon>
</button>
<hr>
<mat-expansion-panel *ngFor="let rarity of currentRarities">
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{ rarity }}
    </mat-panel-title>
    <mat-panel-description class="align-right">
      ({{ magicItems[rarity].length }} items)
    </mat-panel-description>
  </mat-expansion-panel-header>
  <mat-list>
    <app-magic-item
      *ngFor="let magicItem of magicItems[rarity]; let k = index"
      [magicItem]="magicItem" [index]="k" [listRarity]="rarity"></app-magic-item>
  </mat-list>
</mat-expansion-panel>
<hr *ngIf="currentRarities.length > 0">
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Show Tables
    </mat-panel-title>
  </mat-expansion-panel-header>
  <h3>Magic Shop Table</h3>
  <mat-table [dataSource]="magicShopTableDisplay" class="mat-elevation-z8">
    <ng-container matColumnDef="checkTotal">
      <mat-header-cell *matHeaderCellDef> Check Total </mat-header-cell>
      <mat-cell *matCellDef="let row" [innerHTML]="row.rollResultRange"></mat-cell>
    </ng-container>
    <ng-container matColumnDef="itemsAvailable">
      <mat-header-cell *matHeaderCellDef> Items Available </mat-header-cell>
      <mat-cell *matCellDef="let row" [innerHTML]="row.instructions"></mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="['checkTotal', 'itemsAvailable']"></mat-header-row>
    <mat-row *matRowDef="let row; columns: ['checkTotal', 'itemsAvailable'];"></mat-row>
  </mat-table>
  <h3>Random Price Table</h3>
  <mat-table [dataSource]="randomPriceTableDisplay" class="mat-elevation-z8">
    <ng-container matColumnDef="rarity">
      <mat-header-cell *matHeaderCellDef> rarity </mat-header-cell>
      <mat-cell *matCellDef="let row" [innerHTML]="row.rarity"></mat-cell>
    </ng-container>
    <ng-container matColumnDef="price">
      <mat-header-cell *matHeaderCellDef> Asking Price* </mat-header-cell>
      <mat-cell *matCellDef="let row" [innerHTML]="row.instructions"></mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="['rarity', 'price']"></mat-header-row>
    <mat-row *matRowDef="let row; columns: ['rarity', 'price'];"></mat-row>
  </mat-table>
  <p>*Halved for a consumable item like a potion or scroll</p>
</mat-expansion-panel>
