<mat-form-field class="num-input-div">
  <mat-label>Roll</mat-label>
  <input matInput class ="num-input-field" type="number" [(ngModel)]="roll">
</mat-form-field>
&nbsp;
<mat-slider max="36" min="1" step="1" tickInterval="1" [(ngModel)]="roll"></mat-slider>
&nbsp;
<button mat-mini-fab color="primary" title="Generate Magic Shop" (click)="onGenerateShop()">
  <mat-icon>check</mat-icon>
</button>
<br>
<mat-form-field>
  <mat-label>Add Item from Table</mat-label>
  <mat-select type="text" [(ngModel)]="selectedTableKey">
    <mat-option *ngFor="let tableKey of magicItemTableKeys" [value]="tableKey">
      {{ tableKey }}
    </mat-option>
  </mat-select>
</mat-form-field>
&nbsp;
<button mat-mini-fab color="primary" title="Add Random Item" (click)="onAddItem()">
  <mat-icon>add</mat-icon>
</button>
<br>
<button mat-mini-fab color="primary" title="Sort Items" (click)="onSort()">
  <mat-icon>sort_by_alpha</mat-icon>
</button>
&nbsp;
<button mat-mini-fab color="warn" title="Clear Shop" (click)="onClear()">
  <mat-icon>clear</mat-icon>
</button>
<hr>
<mat-expansion-panel *ngFor="let rarity of currentRarities">
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{ rarity }}
    </mat-panel-title>
    <mat-panel-description class="align-right">
      ({{ magicItems[rarity].length }} items)
    </mat-panel-description>
  </mat-expansion-panel-header>
  <mat-list>
    <app-magic-item
      *ngFor="let magicItem of magicItems[rarity]; let k = index"
      [magicItem]="magicItem" [index]="k" [listRarity]="rarity"></app-magic-item>
  </mat-list>
</mat-expansion-panel>
