<mat-form-field class="num-input-div">
  <mat-label>Wizard Level</mat-label>
  <input matInput class="num-input-field" type="number" [(ngModel)]="wizardLevel">
</mat-form-field>
&nbsp;
<mat-slider max="20" min="1" step="1" tickInterval="1" [(ngModel)]="wizardLevel"></mat-slider>
&nbsp;
<button mat-mini-fab color="primary" title="Generate Spell Book" (click)="onGenerateSpellBook()">
  <mat-icon>check</mat-icon>
</button>
&nbsp;
<button mat-mini-fab color="primary" title="Fill Spell Book" (click)="onFillSpellBook()">
  <mat-icon>vertical_align_bottom</mat-icon>
</button>
<br>
<mat-form-field class="num-input-div" style="width:80px;">
  <mat-label>Spell Level</mat-label>
  <input matInput class="num-input-field" type="number" [(ngModel)]="spellLevel" (change)="onSpellLevelSelect()">
</mat-form-field>
&nbsp;
<mat-slider max="9" min="1" step="1" tickInterval="1" [(ngModel)]="spellLevel" (change)="onSpellLevelSelect()"></mat-slider>
&nbsp;
<button mat-mini-fab color="primary" title="Add Random Spell" (click)="onAddRandomSpell()">
  <mat-icon>casino</mat-icon>
</button>
<br>
<mat-form-field>
  <mat-label>Add Spell</mat-label>
  <mat-select type="text" [(ngModel)]="selectedSpell">
    <mat-option *ngFor="let spell of availableSpells; let i = index" [value]="i">
      {{ spell.name }}
    </mat-option>
  </mat-select>
</mat-form-field>
&nbsp;
<button mat-mini-fab color="primary" title="Add Spell" (click)="onAddSpell()">
  <mat-icon>add</mat-icon>
</button>
<br>
<button mat-mini-fab color="primary" title="Sort Items" (click)="onSort()">
  <mat-icon>sort_by_alpha</mat-icon>
</button>
&nbsp;
<button mat-mini-fab color="warn" title="Clear Shop" (click)="onClear()">
  <mat-icon>clear</mat-icon>
</button>
<hr>
<mat-expansion-panel *ngFor="let level of currentLevels">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Level {{ level }} Spells 
    </mat-panel-title>
    <mat-panel-description class="align-right">
      ({{ spells[level].length }} spells)
    </mat-panel-description>
  </mat-expansion-panel-header>
  <mat-list>
    <app-spell
      *ngFor="let spell of spells[level]; let k = index"
      [spell]="spell" [index]="k" [spellLevel]="level"></app-spell>
  </mat-list>
</mat-expansion-panel>
